<p>Olá <%= @resource.nome %>!</p>

<p>Foi solicitado uma redefinição de senha no Capivareo. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to('Redefina sua senha', url_for(action: 'home', controller: 'pages') + '#/reset' + '?reset_password_token=' + @token) %></p>

<p>Se você não reconhece esse pedido, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link e a redefina.</p>
